
*{
    background-color: black;
}
#a{
    color:pink;
    text-align: center;
}
#b{
    color:white;
}
#s{
    color:rgb(252, 15, 212);
}
#ho1{
    color:deeppink;
}
#ho2{
    color:white;
}
#c{
    color:white
}
.all{
    color:white
}